@tailwind base;
@tailwind components;
@tailwind utilities;
.tagsnotselected {
    @apply bg-white border border-transparent
}

.tagsnotselected:hover {
    @apply border-gray-500/60 text-gray-600
}

.tagselected {
    @apply bg-gradient-to-r from-pink-600 to-purple-600 text-white
}

.btn-scs {
    @apply min-w-fit w-32 text-center border border-green-700 bg-green-500 mt-2 text-white text-sm px-3 py-1.5 rounded-md mr-2
}

.btn-scs:hover {
    @apply bg-green-600
}

.btn-dng {
    @apply w-32 text-center border border-orange-700 bg-orange-500 mt-2 text-white text-sm px-3 py-1.5 rounded-md mr-2
}

.btn-dng:hover {
    @apply bg-orange-600
}

.btn-default {
    @apply min-w-fit w-32 text-center border border-gray-700 bg-gray-500 mt-2 text-white text-sm px-3 py-1.5 rounded-md mr-2
}

.btn-default:hover {
    @apply bg-gray-600
}

.activeroutebutton {
    @apply bg-sky-400 rounded-md shadow-md bg-gradient-to-r from-purple-600 to-pink-600
}

.routebutton {
    @apply text-white px-3 py-2 flex items-center
}

.routebutton:hover {
    @apply text-white px-3 py-2 flex items-center bg-sky-400 rounded-md shadow-md
}

.navtop {
    z-index: 999999;
}

input {
    @apply outline-none
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.raleway-font {
    font-family: 'Raleway', sans-serif;
}

.popins-font {
    font-family: 'Poppins', sans-serif;
}

.navitems>li {
    @apply my-1 py-1
}

.inputs {
    @apply bg-white text-gray-700 border border-gray-300 mt-2 shadow-sm rounded-md outline-none px-3 py-1.5 w-full mb-3
}

.inputs:focus {
    @apply border-gray-400
}

.inputs-w-icon {
    @apply bg-white text-gray-700 border border-gray-300 mt-2 shadow-sm rounded-md outline-none pr-3 py-1.5 w-full mb-3
}

.inputs-w-icon:focus {
    @apply border-gray-400
}

.z-100 {
    z-index: 100
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.nav>li {
    @apply mx-2
}

@keyframes hideanim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.hideit {
    animation: hideanim 1s normal forwards;
    animation-iteration-count: 1;
}